<table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Mostrar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(tasks, function(task){ %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.type %></td>
      <td><a href="/task/show/<%= task.id %>" class="mdl-button mdl-js-button mdl-button--primary">Mostrar</a></td>
      <td>
        <form action="/task/destroy/<%= task.id %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="mdl-button mdl-js-button mdl-button--primary" value="Eliminar">
        </form>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>